* {
  box-sizing: border-box;
}
@font-face {
  font-family: "MADETommy_Soft; serif ";
  src: url(../fonts/MADE\ Tommy\ Regular.otf) format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "MADETommy_Soft; serif ";
  src: url(../fonts/MADE\ Tommy\ Medium.otf) format("otf");
  font-weight: 500;
}
a {
  text-decoration: none;
  display: inline-block;
  color: #007b5e;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.container {
  margin: 100px 200px 0px 235px;
  display: flex;
  justify-content: space-between;
}
.header-top {
  margin-top: 50px;
  position: relative;
}
.logo_header {
  width: 20%;
}
.menu {
  width: 60%;
  position: relative;
  margin-left: 200px;
  padding-top: 30px;
  font-size: 50px;
  line-height: 62px;
  font-weight: 500;
  letter-spacing: 0.3px;
}
.menu li + li {
  padding-left: 100px;
  padding-right: 100px;
}
.menu li {
  display: inline-block;
  color: #17856d;
}
.contacts {
  width: 25%;
  padding-bottom: 10px;
  padding-left: 350px;
  float: right;
}
.yt a {
  color: #007b5e;
  margin-top: 35px;
  margin-right: 50px;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.1px;
  font-weight: 400;
}
.social {
  margin-left: 50px;
}
.social img {
  padding-top: 20px;
  margin-left: 8px;
  padding-left: 20px;
}
.description {
  display: inline-block;
  width: 50%;
}
.title {
  font-size: 200px;
  line-height: 200px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #295e17;
}
.subtitle {
  margin-top: 80px;
  font-size: 91px;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: #007b5e;
}
.text {
  margin-top: 50px;
  width: 50%;
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: #007b5e;
}
.description-btn {
  width: 300px;
  height: 100px;
  margin-top: 200px;
  padding: 25px;
  font-size: 50px;
  line-height: 50px;
  border-radius: 60px;
  text-align: center;
  background-color: #295e17;
}
.description-btn a {
  color: #fff;
}
